@import url('https://fonts.googleapis.com/css?family=Prompt:100,200,300,400,500,600,700');
.red{color:#f00!important;}
.red02{color:#ed4a29;}
.back{color:#000;}
.back01{color:#333;}
.gay01{color:#666666;}
.gay02{color:#888888;}
.white{color:#fff;}
.purple{color: #61348f;}
.purple01{color: #C926FF;}
.blue{color:#3481af;}
.green01{color:#24c525;}
.green02{color:#28a955;}
.green03{color:#a2ca4d;}
.green04{color:#36998B;}
.bg-sv{background-color: #f6f6f8;padding: 15px;}

#map {
    height: 250px;
    width: 100%;
}
#map02 {
    height: 250px;
    width: 100%;
}
#map03 {
    height: 250px;
    width: 100%;
}
.numb {
    background-color: #ed4a29;
    color: #fff;
    padding-left: 100px;
    padding-right: 15px;
}
.hvr-btn {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}
.hvr-btn:hover:before, .hvr-btn:focus:before, .hvr-btn:active:before {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
    transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}
.hvr-btn:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #ffffff;
    border-color: #ffffff;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 1.5s;
    transition-duration: 1.5s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}



.hvr-btn01 {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}
.hvr-btn01:hover:before, .hvr-btn01:focus:before, .hvr-btn01:active:before {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
    transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}
.hvr-btn01:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #d9f7f9;
    border-color: #d9f7f9;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 1.5s;
    transition-duration: 1.5s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.sp-form {
    margin-bottom: 10px;
    border: #ddd 1px solid;
    /* -webkit-border-radius: 0; */
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    /* border-radius: 0; */
}
/*-- special --*/
.special{
    background: #e7f4f8;
}
.wthree-special-grid{
    margin:4em 0 0 0;
}
/*-- pricing --*/
.pricing {
    margin: 0 auto;
    box-shadow: 0 0px 3px #c3c3c3;
}
.pricing-top{
    padding: 1.2em 0;
    background:#fd5c63;
    text-align:center;
}
.blue-top{
    background: #67d6ff;
}
.green-top{
    background: #86c724;
}

.pricing-top h3{
    color:#FFF;
    font-size:2em;
    margin:0;
}
.pricing-top p{
    color:#FFF;
    font-size:.875em;
    margin:1em 0 0 0;
}
.pricing-bottom{
    background: #FFF;
    text-align: center;
    padding: 2em;
}
.pricing-bottom-top {
    padding-bottom: 2em;
}
.pricing-bottom-top p{
    color: #333;
    margin: 0;
    font-size: 1em;
    line-height: 1.8em;
    font-weight: 600;
}
.pricing-bottom-bottom{
    padding: 2em 0;
    border-top: solid 1px #EFECEC;
    border-bottom: solid 1px #EFECEC;
}
.pricing-bottom-bottom p{
    color: #A5A5A5;
    font-size: 16px;
    margin: 0 0 1em 0;
}
.pricing-bottom-bottom p span{
    font-weight:600;
    color:#333;
}
p.text {
    margin-bottom: 0;
}
.buy-button {
    margin: 1.5em 0 0 0;
}
.buy-button a{
    background: #212121;
    padding: .5em 2em;
    color: #fff;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    text-decoration: none;
}
.buy-button a:hover{
    background: #86c724;
}
/*-- //pricing --*/
/*-- //special --*/
@media(max-width:1024px){

}
@media(max-width:768px){
.numb {
    background-color: #ed4a29;
    color: #fff;
    padding-left: 5px;
    padding-right: 5px;
}
nav.navbar.bootsnav ul.nav > li > a{
    color: #ffffff;
}
}
@media(max-width:414px){
h2 {
    font-size: 30px;
    line-height: 48px;
    font-weight: 400;
    margin: 0px;
}
h4 {
    font-size: 16px;
    line-height: 30px;
    font-weight: 400;
    margin: 0px;
}
}
